html {
    color: var(--text);
    font-family: "Roboto Mono";
    background-color: var(--base);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

a:hover {
    color: var(--blue);
}

a:active {
    color: var(--teal);
}

img {
    max-width: 100%;
    display: block;
}

h2 {
    text-align: center;
}

button,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 10px 16px;
}
